In [1]:
import sys
import talib as talib
import pandas as pd
import numpy as np
from pyecharts import options as opts
sys.path.append("..") 
from imp import reload
from src.ts_stock import TsStock
from src.chart import Chart
import tushare as ts
tsStock = TsStock();
chart = Chart();
token='36d50a0386e9066b5c79c2de58ea2d3a9b980020041adc910f76bfc7'
ts.set_token(token)
pro=ts.pro_api()

/Users/david/anaconda3/lib/python3.6/site-packages/tushare/util/upass.py:28: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return str(df.ix[0]['token'])

In [72]:
stock = '600052'
start_date = '20080101'
end_date=''

In [73]:
stock_info = tsStock.get_stock_info(stock)
df_income = pro.income(ts_code=stock_info['code'], start_date=start_date, end_date=end_date)
#df_income.to_excel("income.xlsx",sheet_name='Sheet_name_1')
df_income.index = pd.to_datetime( df_income.ann_date )
df_income = df_income.sort_index(ascending=True)

In [74]:
c = chart.get_line_income(df_income,stock_info)
c.render_notebook()

In [71]:
df_income[['n_income_attr_p']]

            n_income_attr_p
ann_date
2011-07-21     2.547491e+07
2011-07-21     7.550721e+07
2011-07-21     3.996345e+07
2011-08-09     3.329697e+07
2011-08-09     5.025447e+07
2011-10-28     7.143279e+07
2011-10-28     5.049428e+07
2012-04-17     9.062218e+07
2012-04-21     1.613536e+07
2012-04-21     2.026339e+07
2012-08-21     5.352105e+07
2012-10-29     6.594379e+07
2013-04-23     7.709244e+07
2013-04-24     2.500803e+07
2013-08-20     4.299058e+07
2013-10-22     5.285208e+07
2014-04-09     4.730908e+07
2014-04-25     1.775303e+07
2014-08-05     2.139713e+07
2014-10-29     5.835758e+06
2015-04-21    -5.636238e+07
2015-04-27    -1.053140e+07
2015-07-28     2.593398e+06
2015-10-30     4.172401e+06
2016-04-21     1.509681e+07
2016-04-29     1.243065e+07
2016-08-23     3.277877e+07
2016-10-27     5.451239e+07
2017-04-25     6.587407e+07
2017-04-25     2.473698e+07
2017-08-22     4.259247e+07
2017-10-28     5.546088e+07
2018-04-17     7.345348e+07
2018-04-28     1.026355e+07
2018-08-28     3.773293e+07
2018-08-28     3.773293e+07
2018-10-31     4.036533e+07
2019-04-09     1.152887e+09
2019-04-29     1.061935e+08
2019-04-29     1.061935e+08
2019-08-20     4.930255e+08

In [56]:
df_income

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps,total_revenue,revenue,...,minority_gain,oth_compr_income,t_compr_income,compr_inc_attr_p,compr_inc_attr_m_s,ebit,ebitda,insurance_exp,undist_profit,distable_profit
ann_date,,,,,,,,,,,,,,,,,,,,,
2008-04-26,000005.SZ,20080426,20070430,20061231,1,1,-0.0700,-0.0700,3.307376e+08,3.307376e+08,...,NaN,NaN,NaN,NaN,NaN,5.358383e+07,7.326758e+07,None,None,None
2008-04-26,000005.SZ,20080426,20080606,20071231,1,1,0.0900,0.0900,2.990316e+08,2.990316e+08,...,NaN,NaN,NaN,NaN,NaN,8.587275e+07,1.132355e+08,None,None,None
2008-04-30,000005.SZ,20080430,20080430,20080331,1,1,0.0020,0.0020,1.847533e+07,1.847533e+07,...,NaN,NaN,NaN,NaN,NaN,-2.672988e+04,NaN,None,None,None
2008-08-28,000005.SZ,20080828,20080828,20080630,1,1,0.0060,0.0060,4.457845e+07,4.457845e+07,...,NaN,NaN,NaN,NaN,NaN,7.512390e+06,7.512390e+06,None,None,None
2008-10-29,000005.SZ,20081029,20081029,20080930,1,1,0.0100,0.0100,8.667809e+07,8.667809e+07,...,NaN,NaN,NaN,NaN,NaN,1.885025e+07,NaN,None,None,None
2009-04-28,000005.SZ,20090428,20090428,20081231,1,1,0.0100,0.0100,1.087203e+08,1.087203e+08,...,NaN,NaN,NaN,NaN,NaN,3.402614e+06,1.955483e+07,None,None,None
2009-04-28,000005.SZ,20090428,20090428,20090331,1,1,0.0050,0.0050,1.060237e+07,1.060237e+07,...,NaN,NaN,NaN,NaN,NaN,-6.586330e+05,NaN,None,None,None
2009-08-28,000005.SZ,20090828,20090828,20090630,1,1,-0.0020,-0.0020,1.900336e+07,1.900336e+07,...,NaN,NaN,NaN,NaN,NaN,-3.401506e+06,1.019502e+06,None,None,None
2009-10-30,000005.SZ,20091030,20091030,20090930,1,1,-0.0130,-0.0130,3.426877e+07,3.426877e+07,...,NaN,NaN,-1.172176e+07,-1.172176e+07,NaN,-1.066500e+07,NaN,None,None,None
2010-04-30,000005.SZ,20100430,20100430,20091231,1,1,-0.0540,-0.0540,4.319248e+07,4.319248e+07,...,NaN,-662118.10,-4.958165e+07,-4.958165e+07,NaN,-4.619738e+07,-2.483734e+07,None,None,None
2010-04-30,000005.SZ,20100430,20100430,20100331,1,1,-0.0080,-0.0080,1.108282e+07,1.108282e+07,...,NaN,NaN,-6.893419e+06,-6.893419e+06,NaN,-3.703324e+06,NaN,None,None,None
2010-08-30,000005.SZ,20100830,20100830,20100630,1,1,-0.0180,-0.0180,2.264194e+07,2.264194e+07,...,NaN,NaN,-1.600815e+07,-1.600815e+07,NaN,-6.669578e+06,-6.669578e+06,None,None,None
2010-10-29,000005.SZ,20101029,20101029,20100930,1,1,-0.0290,-0.0290,3.422054e+07,3.422054e+07,...,NaN,NaN,-2.652480e+07,-2.652480e+07,NaN,-1.386100e+07,NaN,None,None,None
2011-04-30,000005.SZ,20110430,20110430,20110331,1,1,-0.0070,-0.0070,1.000887e+07,1.000887e+07,...,NaN,NaN,-6.291033e+06,-6.291033e+06,NaN,-3.144461e+06,NaN,None,None,None
2011-04-30,000005.SZ,20110430,20120424,20101231,1,1,0.0050,0.0050,1.372342e+08,1.372342e+08,...,NaN,-21168041.90,-2.559443e+07,-2.559443e+07,NaN,1.645744e+07,3.822681e+07,None,None,None
2011-08-31,000005.SZ,20110831,20110831,20110630,1,1,0.0300,0.0300,2.910983e+07,2.910983e+07,...,NaN,NaN,2.712336e+07,2.712336e+07,NaN,-1.060113e+07,-1.060113e+07,None,None,None
2011-10-29,000005.SZ,20111029,20111029,20110930,1,1,0.0150,0.0150,4.302893e+07,4.302893e+07,...,NaN,NaN,1.365665e+07,1.365665e+07,NaN,-1.888450e+07,NaN,None,None,None
2012-04-24,000005.SZ,20120424,20120424,20111231,1,1,0.0125,0.0125,6.353484e+07,6.353484e+07,...,NaN,-26793077.91,-1.537843e+07,-1.537843e+07,NaN,-4.194578e+07,-2.465010e+07,None,None,None
2012-04-24,000005.SZ,20120424,20120424,20120331,1,1,-0.0130,-0.0130,1.277486e+07,1.277486e+07,...,NaN,NaN,-1.222558e+07,-1.222558e+07,NaN,-6.278716e+06,NaN,None,None,None
2012-08-29,000005.SZ,20120829,20120829,20120630,1,1,-0.0300,-0.0300,2.971566e+07,2.971566e+07,...,0.00,0.00,-2.925819e+07,-2.925819e+07,NaN,-1.975409e+07,-9.197372e+06,None,None,None
2012-10-27,000005.SZ,20121027,20121027,20120930,1,1,-0.0150,-0.0150,4.616038e+07,4.616038e+07,...,NaN,NaN,-1.338760e+07,-1.338760e+07,NaN,-2.749515e+07,NaN,None,None,None
2013-04-24,000005.SZ,20130424,20130424,20121231,1,1,0.0241,0.0241,9.942123e+07,9.942123e+07,...,NaN,141147.77,2.216277e+07,2.216277e+07,NaN,-1.398179e+07,3.319281e+05,None,None,None
2013-04-24,000005.SZ,20130424,20130424,20130331,1,1,-0.0101,-0.0101,1.296946e+07,1.296946e+07,...,NaN,NaN,-9.235390e+06,-9.235390e+06,NaN,-7.476316e+06,NaN,None,None,None
2013-08-28,000005.SZ,20130828,20130828,20130630,1,1,-0.0246,-0.0246,2.208473e+07,2.208473e+07,...,NaN,0.00,-2.245686e+07,-2.245686e+07,NaN,-1.911767e+07,-1.661964e+07,None,None,None
2013-10-30,000005.SZ,20131030,20131030,20130930,1,1,-0.0320,-0.0320,3.202562e+07,3.202562e+07,...,NaN,NaN,-2.900009e+07,-2.900009e+07,NaN,-2.502953e+07,NaN,None,None,None
2014-04-26,000005.SZ,20140426,20140426,20131231,1,1,-0.0463,-0.0463,5.206170e+07,5.206170e+07,...,NaN,-15523115.92,-5.786787e+07,-5.786787e+07,NaN,-3.215349e+07,-2.726652e+07,None,None,None
2014-04-26,000005.SZ,20140426,20140426,20140331,1,1,-0.0095,-0.0095,1.218152e+07,1.218152e+07,...,NaN,NaN,-8.682228e+06,-8.682228e+06,NaN,-6.928649e+06,NaN,None,None,None
2014-08-29,000005.SZ,20140829,20140829,20140630,1,1,-0.0276,-0.0276,2.385649e+07,2.385649e+07,...,NaN,NaN,-2.521994e+07,-2.521994e+07,NaN,-2.185633e+07,-1.925287e+07,None,None,None
2014-10-29,000005.SZ,20141029,20141029,20140930,1,1,-0.0350,-0.0350,3.584523e+07,3.584523e+07,...,NaN,NaN,-3.194822e+07,-3.194822e+07,NaN,-2.694874e+07,NaN,None,None,None
2015-04-11,000005.SZ,20150411,20150411,20141231,1,1,0.0472,0.0472,5.277699e+07,5.277699e+07,...,NaN,1645498.60,4.480944e+07,4.480944e+07,NaN,-2.993655e+07,-2.467204e+07,None,None,None
2015-04-28,000005.SZ,20150428,20150428,20150331,1,1,-0.0088,-0.0088,1.348533e+07,1.348533e+07,...,NaN,NaN,-8.066505e+06,-8.066505e+06,NaN,-6.989988e+06,NaN,None,None,None
2015-07-25,000005.SZ,20150725,20150725,20150630,1,1,-0.0250,-0.0250,3.628534e+07,3.628534e+07,...,NaN,NaN,-2.318851e+07,-2.318851e+07,NaN,-1.991479e+07,-1.884271e+07,None,None,None
2015-10-30,000005.SZ,20151030,20151030,20150930,1,1,-0.0330,-0.0330,4.575717e+07,4.575717e+07,...,NaN,NaN,-2.983602e+07,-2.983602e+07,NaN,-2.497072e+07,NaN,None,None,None
2016-04-27,000005.SZ,20160427,20160427,20151231,1,1,-0.0596,-0.0596,8.412597e+07,8.412597e+07,...,1207610.87,21785757.11,-3.224596e+07,-3.348951e+07,1243547.49,-4.817017e+07,-4.332428e+07,None,None,None
2016-04-27,000005.SZ,20160427,20160427,20160331,1,1,-0.0064,-0.0064,4.342154e+07,4.342154e+07,...,383321.71,NaN,-6.420801e+06,-6.804123e+06,383321.71,-4.929510e+06,NaN,None,None,None
2016-08-25,000005.SZ,20160825,20160825,20160630,1,1,0.1200,0.1200,1.899526e+08,1.899526e+08,...,4385462.09,NaN,1.313635e+08,1.269780e+08,4385462.09,1.753663e+06,7.352370e+06,None,None,None
2016-10-31,000005.SZ,20161031,20161031,20160930,1,1,0.1260,0.1260,3.504969e+08,3.504969e+08,...,8115001.78,NaN,1.418844e+08,1.337694e+08,8115001.78,NaN,NaN,None,None,None
2017-04-27,000005.SZ,20170427,20170427,20170331,1,1,-0.0096,-0.0096,7.144980e+07,7.144980e+07,...,433461.48,NaN,-9.706813e+06,-1.014027e+07,433461.48,NaN,NaN,None,None,None
2017-04-27,000005.SZ,20170427,20170427,20161231,1,1,0.1026,0.1026,4.818634e+08,4.818634e+08,...,8305068.37,25173356.25,1.421358e+08,1.338095e+08,8326294.20,2.260888e+07,3.324310e+07,None,None,None
2017-08-26,000005.SZ,20170826,20170826,20170630,1,1,-0.0168,-0.0168,2.035988e+08,2.035988e+08,...,2699311.76,NaN,-1.505798e+07,-1.775729e+07,2699311.76,2.233163e+06,8.080532e+06,None,None,None
2017-10-31,000005.SZ,20171031,20171031,20170930,1,1,-0.0150,-0.0150,3.142272e+08,3.142272e+08,...,5139371.45,NaN,-1.107394e+07,-1.621331e+07,5139371.45,2.248020e+07,NaN,None,None,None
2018-04-21,000005.SZ,20180421,20180421,20171231,1,1,0.0145,0.0145,5.309222e+08,5.309222e+08,...,7627556.10,-25578099.67,-2.642108e+06,-1.032199e+07,7679886.82,3.558177e+07,5.034744e+07,None,None,None
2018-04-21,000005.SZ,20180421,20180421,20180331,1,1,0.0153,0.0153,1.521507e+08,1.521507e+08,...,-195787.41,NaN,1.595154e+07,1.614733e+07,-195787.41,2.446897e+07,NaN,None,None,None
2018-08-30,000005.SZ,20180830,20180830,20180630,1,1,0.0077,0.0077,2.737899e+08,2.737899e+08,...,753774.49,NaN,8.900467e+06,8.146692e+06,753774.49,4.126380e+07,4.703631e+07,None,None,None
2018-10-30,000005.SZ,20181030,20181030,20180930,1,1,0.0062,0.0062,3.830000e+08,3.830000e+08,...,2047865.04,NaN,8.579817e+06,6.531952e+06,2047865.04,5.388442e+07,NaN,None,None,None
2019-04-25,000005.SZ,20190425,20190425,20181231,1,1,0.1406,0.1406,4.861810e+08,4.861810e+08,...,7939532.36,17971620.90,1.747202e+08,1.668130e+08,7907289.27,4.997939e+06,1.631626e+07,None,None,None
2019-04-25,000005.SZ,20190425,20190425,20190331,1,1,-0.0168,-0.0168,8.371927e+07,8.371927e+07,...,-208750.18,NaN,-1.795988e+07,-1.775113e+07,-208750.18,NaN,NaN,None,None,None
2019-04-25,000005.SZ,20190425,20190425,20190331,1,1,-0.0168,-0.0168,8.371927e+07,8.371927e+07,...,-208750.18,NaN,-1.795988e+07,-1.775113e+07,-208750.18,-7.924142e+06,NaN,None,None,None
2019-08-29,000005.SZ,20190829,20190829,20190630,1,1,0.0588,0.0588,4.241350e+08,4.241350e+08,...,1805470.89,2937630.81,6.697792e+07,6.521117e+07,1766744.78,NaN,NaN,None,None,None
2019-08-29,000005.SZ,20190829,20190829,20190630,1,1,0.0588,0.0588,4.241350e+08,4.241350e+08,...,1805470.89,2937630.81,6.697792e+07,6.521117e+07,1766744.78,1.106523e+08,1.162580e+08,None,None,None

In [65]:
df = df_income.drop_duplicates(["ann_date"],keep="last")[['n_income_attr_p']]
df

            n_income_attr_p
ann_date
2008-04-26     8.683215e+07
2008-04-30     2.261319e+06
2008-08-28     5.488803e+06
2008-10-29     1.030209e+07
2009-04-28     3.802026e+06
2009-08-28    -2.164649e+06
2009-10-30    -1.172176e+07
2010-04-30    -6.893419e+06
2010-08-30    -1.600815e+07
2010-10-29    -2.652480e+07
2011-04-30    -4.426387e+06
2011-08-31     2.712336e+07
2011-10-29     1.365665e+07
2012-04-24    -1.222558e+07
2012-08-29    -2.925819e+07
2012-10-27    -1.338760e+07
2013-04-24    -9.235390e+06
2013-08-28    -2.245686e+07
2013-10-30    -2.900009e+07
2014-04-26    -8.682228e+06
2014-08-29    -2.521994e+07
2014-10-29    -3.194822e+07
2015-04-11     4.316394e+07
2015-04-28    -8.066505e+06
2015-07-25    -2.318851e+07
2015-10-30    -2.983602e+07
2016-04-27    -6.804123e+06
2016-08-25     1.269780e+08
2016-10-31     1.337694e+08
2017-04-27     1.086574e+08
2017-08-26    -1.775729e+07
2017-10-31    -1.621331e+07
2018-04-21     1.614733e+07
2018-08-30     8.146692e+06
2018-10-30     6.531952e+06
2019-04-25    -1.775113e+07
2019-08-29     6.223482e+07

In [67]:
df['last_year_n_income_attr_p'] = df['n_income_attr_p'].shift(4)
df['last_n_income_attr_p'] = df['n_income_attr_p'].shift(1)

df

            n_income_attr_p  last_year_n_income_attr_p  last_n_income_attr_p
ann_date
2008-04-26     8.683215e+07                        NaN                   NaN
2008-04-30     2.261319e+06                        NaN          8.683215e+07
2008-08-28     5.488803e+06                        NaN          2.261319e+06
2008-10-29     1.030209e+07                        NaN          5.488803e+06
2009-04-28     3.802026e+06               8.683215e+07          1.030209e+07
2009-08-28    -2.164649e+06               2.261319e+06          3.802026e+06
2009-10-30    -1.172176e+07               5.488803e+06         -2.164649e+06
2010-04-30    -6.893419e+06               1.030209e+07         -1.172176e+07
2010-08-30    -1.600815e+07               3.802026e+06         -6.893419e+06
2010-10-29    -2.652480e+07              -2.164649e+06         -1.600815e+07
2011-04-30    -4.426387e+06              -1.172176e+07         -2.652480e+07
2011-08-31     2.712336e+07              -6.893419e+06         -4.426387e+06
2011-10-29     1.365665e+07              -1.600815e+07          2.712336e+07
2012-04-24    -1.222558e+07              -2.652480e+07          1.365665e+07
2012-08-29    -2.925819e+07              -4.426387e+06         -1.222558e+07
2012-10-27    -1.338760e+07               2.712336e+07         -2.925819e+07
2013-04-24    -9.235390e+06               1.365665e+07         -1.338760e+07
2013-08-28    -2.245686e+07              -1.222558e+07         -9.235390e+06
2013-10-30    -2.900009e+07              -2.925819e+07         -2.245686e+07
2014-04-26    -8.682228e+06              -1.338760e+07         -2.900009e+07
2014-08-29    -2.521994e+07              -9.235390e+06         -8.682228e+06
2014-10-29    -3.194822e+07              -2.245686e+07         -2.521994e+07
2015-04-11     4.316394e+07              -2.900009e+07         -3.194822e+07
2015-04-28    -8.066505e+06              -8.682228e+06          4.316394e+07
2015-07-25    -2.318851e+07              -2.521994e+07         -8.066505e+06
2015-10-30    -2.983602e+07              -3.194822e+07         -2.318851e+07
2016-04-27    -6.804123e+06               4.316394e+07         -2.983602e+07
2016-08-25     1.269780e+08              -8.066505e+06         -6.804123e+06
2016-10-31     1.337694e+08              -2.318851e+07          1.269780e+08
2017-04-27     1.086574e+08              -2.983602e+07          1.337694e+08
2017-08-26    -1.775729e+07              -6.804123e+06          1.086574e+08
2017-10-31    -1.621331e+07               1.269780e+08         -1.775729e+07
2018-04-21     1.614733e+07               1.337694e+08         -1.621331e+07
2018-08-30     8.146692e+06               1.086574e+08          1.614733e+07
2018-10-30     6.531952e+06              -1.775729e+07          8.146692e+06
2019-04-25    -1.775113e+07              -1.621331e+07          6.531952e+06
2019-08-29     6.223482e+07               1.614733e+07         -1.775113e+07

In [60]:
df['income_tongbi'] =  ( df['n_income_attr_p']- df['last_year_n_income_attr_p'] )/(df['last_year_n_income_attr_p'])

In [61]:
df['income_huanbi'] = (df['n_income_attr_p']- df['last_n_income_attr_p'] )/ df['last_n_income_attr_p']

In [62]:
df.rename(columns={'n_income_attr_p': 'n_income'}, inplace=True)

In [63]:
df.tail(1)

,n_income,last_year_n_income_attr_p,last_n_income_attr_p,income_tongbi,income_huanbi
ann_date,,,,,
2019-08-29,62234817.52,16147325.96,-17751127.36,2.854187,-4.505964